body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #f0f0f0;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  scroll-behavior: smooth;
}

/* Header */
header {
  background-color: rgba(33, 32, 32, 0.6);
  padding: 15px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 90%;
  z-index: 1000;
  border-radius: 90px;
}

header h1 {
  font-size: 20px;
  margin: 0;
}

header .logo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
  margin: 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.logo-gambar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 39px;
    height: auto;
}

.logo-teks {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

/*  Nav dkk */
nav {
  position: static;
  flex: 1;
  display: flex;
  justify-content: center;
  transform: translateX(-20px);
  list-style: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 90px;
  align-items: center;
}

nav ul li {
  position: relative;
  list-style: none;
}

nav a {
    text-decoration: none;
}

nav a :hover {
  color: #00bcd4;
  transform: scale(1.05);
  transform: all 0.3s ease;
}

nav ul li a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
  font-family: 'Times New Roman', Times, serif;
}

nav ul li a:hover {
  color: #b0d0ff;
  text-decoration: underline;
}

.contact-test {
  background-color: #fffafa;
  color: #3b6c91;
  padding: 8px 20px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 600;
  margin-left: auto;
}

.contact-test:hover {
  background-color: #555;
  transition: 0.3s;
}

/*  HERO */
.hero {
  height: 100vh;
  background: url(asset/bgair.jpg) center/cover no-repeat;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.texto {
  inset: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texts {
  text-align: center;
  padding: 0 2px;
  z-index: 1;
  margin-top: 120px;
  font-family: 'Times New Roman', Times, serif;
}

.texts h2 {
  font-size: 60px;
  margin: 10px 0;
  font-weight: 300;
}

.texts .bold {
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.testc {
  display: inline-block;
  background-color:#4a5157 ;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 25px;
  transition: 0.9s;
  margin-top: 25px;
}

.testc:hover {
  background-color: #aed0ee;
  color: #1e1e1e;
}

.testc-analisis {
  display: flexbox;
  background-color:#4a5157 ;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 25px;
}

.testc-analisis:hover {
  background-color: #aed0ee;
  color: #1e1e1e;
}

/* Analisis*/
.analisis {
  padding: 90px 30px 50px;
  text-align: center;
  background: linear-gradient(0deg, #cce1f1 0%, #a4c7f9 100%);
}

.judul-analisis {
  color: #042c6c;
  font-size: 42px;
  margin-bottom: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.bingkai-kartu-analisis {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

/* Flip Card */
.wrapper {
  perspective: 2000px;
}

.card {
  width: 290px;
  height: 340px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.card:hover {
  transform: rotateY(180deg);
}

.front-page,
.back-page {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
}

/* Depan */
.front-page {
  background-size: cover;
  background-position: center;
}

/* Belakang */
.back-page {
  background-color: #084b83;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  text-align: center;
  padding: 20px;
}

.card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-description {
  font-size: 0.9rem;
  color: #d4d4d4;
  margin-bottom: 20px;
}

.card-button {
  background-color: #0fbcf9;
  color: white;
  padding: 10px 20px;
  font-size: 0.9rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-button:hover {
    color: #cddcee;
  background-color:#13556d ;
  border: 1px solid #0a3747;
}


/* Produk Kami */
.produk {
  padding-top: 50px;
  border-top: none;
  text-align: center;
  background: linear-gradient(0deg, #a4c7f9 0%, #cce1f1 100%);
}
.bingkai-kartu-produk {
  width: 95%;
  height: 95%;
  flex-direction: column;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 60px 30px;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.kartu-produk {
  background: linear-gradient(0deg, #99cef7 0%, #184e9a 100%);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 20px;
  width: 240px;
  height: 250px;
  text-align: center;
  transition: all 0.4s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  position: relative;
}

.kartu-produk:hover {
  transform: translateY(-30px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}

.kartu-produk img {
  width: 100%;
  height: 180px;
  border-radius: 12px;
  margin-bottom: 10px;
  object-position: center;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.kartu-produk:hover img {
  transform: scale(1.2);
}

.kartu-produk h3 {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  transition: color 0.3s ease;
  text-align: center;
}

.kartu-produk:hover h3 {
  color: white;
}

/* Anggota */
.anggota {
  background: linear-gradient(0deg, #cce1f1 0%, #a4c7f9 100%);
  padding: 80px 30px;
  text-align: center;
  color: #1a1a1a;
}

.judul-anggota {
  font-size: 65px;
  font-style: oblique;
  letter-spacing: 2px;
  color: black;
  padding: 10px 40px;
  margin-bottom: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700px;
}

.bingkai-kartu-anggota {
  display: flex;
  grid-template-columns: max-content;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.kartu-anggota {
  background-color: #6d8fa7;
  border-radius: 40px;
  width: 220px;
  padding: 40px 20px 30px;
  text-align: center;
  color: #fff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.kartu-anggota:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.kartu-anggota img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #fff;
}

.kartu-anggota h3 {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.kartu-anggota p {
  margin: 4px;
  font-size: 18px;
  color: #f0f0f0;
}

/* Contact */

.contact-section {
  background: linear-gradient(180deg, #86a6c4 0%, #cddcee 100%);;
  text-align: center;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.contact-box {
  background-color: #3d5a5b;
  border-radius: 25px;
  padding: 40px 35px;
  max-width: 500px;
  width: 100%;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.contact-box h2 {
  font-size: 34px;
  margin-bottom: 10px;
}

.contact-box p {
  margin-bottom: 30px;
  font-size: 16px;
  color: #e0e0e0;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
}

.contact-form textarea {
  height: 100px;
  resize: none;
}

.contact-form button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 20px;
  background-color: #2f4141;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #1f2b2b;
}

/* Kembali ke beranda */
.kembali-beranda {
  background-color: #fffafa;
  color: #3b6c91;
  padding: 8px 20px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 600;
  margin-left: auto;
}

.kembali-beranda:hover {
  background-color: #1e2a2a;
  transform: translateY(-3px);
}

/* Footer */
footer {
  background-color: rgba(240, 248, 255, 0.9);
  color: #1e1e1e;
  padding: 25px 10px;
  text-align: center;
  font-family: 'Times New Roman', serif;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

footer p {
  margin: 0;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #1a1a1a;
}

.sosmed {
  display: flex;
  gap: 15px;
  margin-top: 6px;
}

.footer-sosmed img:hover {
  transform: scale(1.2) rotate(8deg);
  filter: brightness(1.3);
  transition: all 0.3 ease;
}

.sosmed a {
  color: #1b3b5a;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s;
}

.sosmed a:hover {
  color: #004aad;
  text-decoration: underline;
}

/** Isi Analisis **/
.title-indo {
  color: #1a1a1a;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.isi-indo {
  font-size: 17px;
  color: #333;
  line-height: 1.5;
  max-width: 800px;
  margin: auto;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.kartu-indo {
  background: white;
  color: #333;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
  display: inline-block;
}

